:root {
    /*for font-size: 100% -> rem = 16px (by default)*/
    font-size: 62.5%; /*-> rem = 10px*/
    /* font-family: 'Sanchez'; */
    --initialSidebarWidth: 50rem;
    --sidebarAudioSpacing: 0.5rem;
}

html, body {
    width: 100%;
    height: 100%;
    user-select: none;
    display: flex;
    /* background-color: #fff; */
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#canvas1{
    position: absolute;
    top: 0; 
    left: 0;
    width: 100%;
    height: 100%;
    /* z-index: 10; */
    /* filter: blur(5px); */
}

#fileupload {
    color: wheat;
    z-index: 100; /* always on top on other elements */
    cursor: pointer;
}

::-webkit-scrollbar{
    /* background: rgba(1,1,1,0.2); */
    width: 0rem;
}


.sidebar {
    position: relative;
    /* position: absolute; */
    height: 100%;
    min-width: 5rem;
    width: var(--initialSidebarWidth);
    height: 100%;
    /* height: 100wh; */
    overflow-x: hidden;
    background-color: rgba(255, 255, 255, 0.209);
    text-align: center;
    padding-right: 0.5rem; /* to compensate resizer width*/ 
}

.resizer {
    position: absolute;
    overflow: hidden;
    width: 0.5rem;
    height: 100%;
    /* left: 0; */
    right: 0;

    cursor: col-resize;
    background-color: rgb(255, 204, 0);
}

input[type="range"] {
    width: calc(98% - 4.5rem); /* 4.5rem because text input width is not enough and it changes line*/
    height: 0.6rem;
    cursor: pointer;
    /* -webkit-appearance: none; */
    /* background: rgba(178, 174, 174, 0.6); */
    /* border-radius: 0rem; */
    /* background-image: linear-gradient(#fb5b26, #a1320a); */
    /* background-size: 100% 100%; */
    /* background-repeat: no-repeat; */
}

input[type="text"] {
    width: 3.7rem;
    margin-right: 0.5rem; /*for spacing between the resize bar*/
    border-radius: 0.5rem;
    /* display: block; */
}

input[type="color"] {
    width: 98%;
    margin-right: 0.5rem;
    border-radius: 0.5rem;
    cursor: pointer;
}

.sidebarCategory{
    background-color: rgb(0, 0, 0);
    font-size: 3rem;
    border-radius: 2rem;
    padding: 0.5rem;
    font-weight: 600;
    margin: 0.5rem 0.2rem;
    cursor: pointer;
    color:rgb(255, 179, 0);
    /* border-color: red;
    border-width: 2rem; */
}

.sidebarInsideCategoryElements{
    /* background-color: bisque; */
    cursor: auto;
    font-size: 1.4rem;
    /* transition: 1s; */
}

.sidebarElement{
    font-size: 2rem;
    font-weight: 400;
    padding: 0.5rem 0rem;
    border-radius: 1rem;
    margin: 0.5rem 0rem;
    color:rgb(230, 225, 213);
}

.sidebarElement:nth-child(even) {
    background: rgba(198, 197, 195, 0.524);
}

.sidebarElement:nth-child(odd) {
    background: rgba(255, 255, 255, 0.524);
}

.sidebarElement:hover {
    background-color: rgba(0, 0, 0, 0.9);
    transition: 0.5s;
}

.showHideButton{
    position: absolute;
    background-color: rgb(244, 237, 237);
    font-size: 5rem;
    border-radius: 0 1rem 1rem 0;
    text-align: center;
    padding: 1rem 1rem;
}

#openMenuButton{
    position: absolute;
    top: 1rem;
    left: 1rem;
    display: none;
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 2rem;
    z-index: 100;
    /* text-align: center; */
}

#hideMenuButton{
    top:50%;
    /* left: calc(2rem - 1rem); */
     
    left: var(--initialSidebarWidth);
    font-size: 2rem;
    color: rgba(1,1,1,0.5);
    padding: 4rem 0.1rem;
    border-radius: 0 1rem 1rem 0;
}

#audioContainer{
    position:absolute;
    top: 2.5rem;
    /* background-color: #1919b1; */
    /* padding: 0.5rem; */
    width: calc(100% - var(--initialSidebarWidth) - var(--sidebarAudioSpacing)*3);
    left: calc( var(--sidebarAudioSpacing) + var(--initialSidebarWidth));
    justify-content: center;
}

#audio1{
    width: 100%;
    height: 4rem;
}

#hideAudioButton{
    position: relative;
    top: -3px; /*to touch the audio player*/
    left: calc(50% - 4rem); /*minus button width*/
    /* left: 50%; */
    /* left: calc(2rem - 1rem); */
    /* width:80%; */
    font-size: 2rem;
    color: rgba(1,1,1,0.5);
    padding: 0.1rem 4rem;
    border-radius: 0 0 1rem 1rem;
    /* border-radius: 0 1rem 1rem 0; */
}

#openAudioButton{
    position: absolute;
    /* position: relative; */
    left: calc(var(--sidebarAudioSpacing) + var(--initialSidebarWidth)); /*+5px space*/
    top: 1rem;
    /* left: 10rem; */
    display: none;
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 2rem;
    z-index: 100;
    /* text-align: center; */
}